---
title: 'Pro Elevated Plumbing Home'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Pro Elevated Plumbing</span>
                <h1 class="cs-title">Professional Plumbing you can trust</h1>
                <p class="cs-text">
                    Proudly servicing Tulsa and surrounding metro areas. 24/7
                </p>
                <!-- <a href="/about" class="cs-button-solid">Call Now</a> -->
                <a class="cs-button-solid" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!-- <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17"/>
                    Get in Touch
                </a> -->
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="h-services-143">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" style="filter: invert(1)" src="assets/svgs/pipe.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Leaking Pipe Fix</h2>
                <!-- <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p> -->
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" style="filter: invert(1)" src="assets/svgs/house.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Residential Repairs</h2>
                <!-- <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p> -->
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" style="filter: invert(1)" src="assets/svgs/shower.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Water Heater Installations</h2>
                <!-- <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p> -->
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" style="filter: invert(1)" src="assets/svgs/sink.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Bathrooms and Kitchens</h2>
                <!-- <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p> -->
            </li>
        </ul>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Pro Elevated</h2>
                <p class="cs-text">
                    Offering service plumbing in Tulsa and the surrounding Metro areas 24 hours a day, 7 days a week. With trained professionals providing White Glove Service, we are ready to assist and handle your plumbing issues. We offer a complete plumbing solution to your home needs including repairs and replacements for:
                </p>
                <p class="cs-text">
                    <ul style="padding:1rem">
<li>
    water, gas, sewer line, and water heaters
</li>
<li>
    toilets
</li>
<li>
    faucets
</li>
<li>
    bathtubs
</li>
<li>
    garbage disposals
</li>
<li>
    unclog drains and etc.
</li>
                    </ul>
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Call now or leave a comment below to book your appointment today. And remember, it's all the Professionally Elevated way!
                    </p>
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1897">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Gallery</span>
                <h2 class="cs-title">Witness The Difference and Our Results</h2>
            </div>
            <!-- <a class="cs-button-solid" href="">View All</a> -->
        </div>
        <!--Gallery-->
        <div class="cs-gallery">
            <div class="cs-item">
                <p class="cs-item-text">Countertop Sink Installation</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/counter1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/counter1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/counter1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/counter2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/counter2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/counter2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Toilet Clog with Foreign Object</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/toiletclog1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/toiletclog1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/toiletclog1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/toiletclog2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/toiletclog2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/toiletclog2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Shower Set</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/shower1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/shower1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/shower1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/shower2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/shower2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/shower2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Faucet Repair</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/faucet1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/faucet1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/faucet1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/faucet2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/faucet2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/faucet2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Washer and Dryer Plumbing Installation</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/plumbing1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/plumbing1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/plumbing1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/plumbing2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/plumbing2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/plumbing2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Garbage Disposal Repair</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/garbage1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/garbage1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/garbage1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/garbage2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/garbage2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/garbage2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Toilet Installation</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/toilet1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/toilet1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/toilet1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/toilet2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/toilet2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/toilet2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Sink Collapse Repair</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/sink1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/sink1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/sink1.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/sink2.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/sink2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/sink2.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
        </div>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}